.container {
    width: 100%;
    margin: auto;
  }
  
  .form-container,
  .home {
    width: 100%;
  }
  
  .form-container {
    margin-bottom: 1rem;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 4px;
  }
  
  .form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }
  
  .mat-form-field {
    width: 200px;
  }
  
  .buttons {
    margin-top: 1rem;
    text-align: right;
  }
  
  button {
    width: auto;
    background-color: #f5f5f5;
    border-radius: 4px;
  }

  .list-card {
    width: 100%;
  }

  i{
    color: black;
  }
  
  